.scrollTop {
  font-size: 4em;
  padding: 0 0.5em 0.5em 0;
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  /* animation: fadeIn 1000ms ease-in-out 0.5s both; */
  /* animation: fadeIn 500ms ease-in-out 1s; */
}

.arrow {
  cursor: pointer;
  animation: fadeIn 700ms ease-in-out 0.5s both;
  /* transition-timing-function: ease-in-out;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1); */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
