.container {
  background-color: #171717;
  color: white;
  padding: 2em 0;
  font-size: 0.75em;
}

.note {
  text-align: center;
}

.listContainer {
  display: flex;
  width: 20%;
  margin: auto;
  justify-content: space-between;
}

ul {
  padding: 0;
  list-style-type: none;
}

.listHeader {
  font-weight: bold;
  text-align: center;
}
