.container {
  height: 40em;
  /* background-image: url("../../constant/images/matteblackkb.jpeg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-attachment: fixed; */
  /* color: #fff; */
  color: #010101;
  background-color: #171717;

  display: flex;
  justify-content: space-around;
}

.content {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;

  /* justify-content: space-between; */
}

.profile_pic {
  height: 20em;
  /* width: 100%; */
  border-radius: 50%;
  /* box-shadow: 0 0 30px #ccc, 0 0 30px #ccc; */
  /* box-shadow: 0 0 30px #ccc; */
  margin: 0 1.75em;
}

.bioContainer {
  width: 80%;
  display: flex;
  justify-items: center;
}

.bio {
  margin: auto;
  color: #ffffff;
  /* background-color: rgba(255, 255, 255, 0.8); */
  border-radius: 1em;
  padding: 1em 1.5em 0.5em 1.5em;
  min-height: auto;
  width: 80%;
}

.name {
  margin: 0 0 0.25em 0;
  font-size: 40px;
  text-align: center;
}

.description {
  margin: 0;
}

.linkContainer {
  /* border: 2px red solid; */
  display: flex;
  padding: 0;
  width: 95%;
  margin: auto;
}

.link {
  list-style-type: none;
  border-radius: 50%;
  margin: 0.5em;
  padding: 10px;
  transition: 500ms;
}

.link:hover {
  background-color: #727272;
}
